<?xml version="1.0" encoding="windows-1252"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
       
	<bean name="facebookFacade" class="com.gowex.facebook.facade.FacebookFacadeImpl">
		<property name="appId" value="${facebook.app.id}"></property>
		<property name="redirectUrl" value="${facebook.app.redirectUrl}"></property>
		<property name="permissions" value="${facebook.app.permissions}"></property>
		<property name="appApiKey" value="${facebook.app.api.key}"></property>
		<property name="appSecret" value="${facebook.app.secret}"></property>
		<property name="httpService" ref="httpService"></property>
	</bean>
	
	<bean name="httpService" class="com.gowex.service.HttpServiceImpl"></bean>
	
</beans>
