<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="LOG" class="org.apache.log4j.FileAppender">
		<param name="Threshold" value="INFO" />
		<param name="File" value="./log/sms_sent.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p - %d{ISO8601} - [%t] - %m%n" />
			<!--
				<param name="ConversionPattern" value="%-5p - %d{ISO8601} - [%t] -
				%C{1}.%M(%L) - %m%n" />
			-->
		</layout>
	</appender>
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%t] %c{1} - %m%n" />
		</layout>
	</appender>
	
	<logger name="com.gowex">
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<root>
		<priority value="INFO" />
		<appender-ref ref="LOG" />
	</root>
</log4j:configuration>