<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>oauth</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>oauth</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>openidOp</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>openidOp</servlet-name>
        <url-pattern>/openidOp/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>Consumer Openid Servlet</servlet-name>
		<servlet-class>com.gowex.openid.OpenidConsumerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Consumer Openid Servlet</servlet-name>
		<url-pattern>/openid/consumer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Openid Provider Servlet</servlet-name>
		<servlet-class>com.gowex.openid.OpenidProviderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Openid Provider Servlet</servlet-name>
		<url-pattern>/openid/provider/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Openid Opensso Provider Servlet</servlet-name>
		<servlet-class>com.gowex.openid.OpenidProviderOpenssoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Openid Provider Servlet</servlet-name>
		<url-pattern>/openid/opensso/*</url-pattern>
	</servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/jsp/opensso/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
