<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:properties/jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dbUnitMysqlUtils"
		class="com.djimenez.persistence.database.mysql.DBUnitMysqlUtils">
		<property name="driverName" value="${jdbc.driverClassName}"/>
		<property name="urlDB" value="${jdbc.url}"/>
		<property name="userDB" value="${jdbc.username}"/>
		<property name="passwordDB" value="${jdbc.password}"/>
		<property name="destinationXML" value="target/test-classes/imported-database.xml"/>
		<property name="schemaBD" value="${jdbc.schema}"/>
	</bean>
</beans>